<footer class="ligh-black-bg" style="padding: 20px 0">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <p
            id="copyright"
            style="
              color: #ffffff;
              font-size: 12px;
              margin: 0;
              max-width: 600px;
              margin-left: auto;
              margin-right: auto;
            ">
            ©2026 Konica Minolta, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  // Update copyright year
  document.getElementById("copyright-year").textContent =
    new Date().getFullYear();
</script>
